
<% include partials/header %>
<div class="main-content ui container">
	<div class="ui special cards">
	 <% allProjects.forEach(function(project){ -%>
	 	<div class="card">
			<div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button">
		            	<a href="<%= project.url %>">Try it!</a>
		            </div>
		          </div>
		        </div>
		      </div>
		      <img src="<%= project.image %>">
	    	</div>
		
			<div class="content">
				<div class="header">
					<%= project.title %>
				</div>
				<div class="meta">
					<a href=""><%= project.tag %></a>
				</div>
				<div id="display" class="description">
					<%- project.description %>
				</div>
			</div>
			<div class="extra content">
				<span class="right floated">
					<form action="/project/<%= project._id%>?_method=DELETE" method="POST">
						<button class="ui red basic button">delete</button>
					</form>
				</span>
				<span>
					<form action="/project/<%= project._id%>/edit" method="GET">
						<button class="ui orange basic button">
							edit
						</button>
					</form>
				</span>
			</div>
		</div>
	<% });%> 
	</div>
</div>
<% include partials/footer %>