
<% include partials/header %>
<div class="main-content">

	<div class="blog-cards">
	
	<% allBlogs.forEach(function(blog){ -%>
	<div class="ui card">
	  	<div class="content">
	  		<img  class="ui small left floated image " src="<%= blog.image %>" alt="">
		    <div class="header"><%= blog.title %></div>
		    <div class="meta"><%= blog.created.toDateString() %></div>
		    <div class="description">
		      <%- blog.body %>
		    </div>
		    
		  </div>
		  <div class="extra content">
		    	<a href="/blog/<%= blog._id%>">Read More</a>
		    </div>

	</div>
	<% });%> 
	</div>
</div>
  <script>
  	var navbarItem = document.querySelectorAll(".item");
  	console.log(navbarItem);
  	navbarItem.forEach(function(item){
  		item.classList.remove("active");
  	});
  	navbarItem[2].classList.add("active"); 
  </script>
<% include partials/footer %>